<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Cadastro - Minha ONG</title>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='MinhaONG2.png') }}" alt="Logo da ONG" class="logo">
        <h1>Bem-vindo!</h1>
        <h2>Cadastre sua ONG aqui</h2>

        <form method="POST" action="/cadastrar_ong">
            <div class="form-container">
                <div class="coluna-esquerda">
                    <label for="nomeOng">Nome da ONG:</label>
                    <input type="text" id="nomeOng" name="nome" required>

                    <label for="cadastroEmail">E-mail:</label>
                    <input type="email" id="cadastroEmail" name="email" required>

                    <label for="cadastroSenha">Senha:</label>
                    <input type="password" id="cadastroSenha" name="senha" required>
                </div>
                <div class="coluna-direita">
                    <label for="seuNome">Seu Nome:</label>
                    <input type="text" id="seuNome" name="responsavel" required>

                    <label for="telefone">Seu Telefone:</label>
                    <input type="tel" id="telefone" name="telefone" required>

                    <label for="confirmarSenha">Confirmar Senha:</label>
                    <input type="password" id="confirmarSenha" name="confirmarSenha" required>

                    <button type="submit">Enviar Cadastro</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
